body{
    background-color: black !important;
}

.contenedor{
    background-color: rgb(137, 136, 136);
    width: 25%;
    margin: auto;
    height: 32vh;
    border-radius: 1rem;

}

.caja-conversion{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: auto;
}

.grafico{
    width: 60% !important;
    margin: auto;
    background-color: white;
    border-radius: 1rem;
}